{extend name="public/base"}
{block name="nav"}
{include file="public/anav"}
{/block}
{block name="content"}
<div class="container">
    <div class="row">

        <!--左侧显示区域-->
        <div class="col-md-6">
            <div class="page-header"><h3>查询航班</h3></div>
            <div class="">

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button id="select" type="button" class="btn btn-default">刷新</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="create" type="button" class="btn btn-default">增加</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="update" type="button" class="btn btn-default">修改</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="delete" type="button" class="btn btn-default">删除</button>
                    </div>
                </div>

                <div class="panel panel-default"><div class="panel-heading"><h4 id="flight_title" style="align-content: center">所有航班</h4></div>
                    <div class="panel-body">
                        <!--警告框  正确-->
                        <div class="alert alert-danger" role="alert" style="display: none"></div>
                        <!--警告框 错误-->
                        <div class="alert alert-info"   role="alert" style="display: none"></div>

                        <!--表单 刷新 默认状态 隐藏-->
                        <div id="alert-sdanger" class="alert alert-danger"   role="alert" style="display: none"></div>

                        <form  id="search_form" class="form-inline">

                            <div class="form-group" >

                                <input name="departurePlace" type="text" class="form-control" id="exampleInputName2" placeholder="请输入起飞地">
                            </div>
                            <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                            <div class="form-group" >
                                <input name="destination" type="text" class="form-control" id="exampleInputEmai3" placeholder="请输入目的地">
                            </div>

                            <div style="float: left ; margin-top: 10px" >
                                    <input name="flight_name" placeholder="请输入航班名称" type="text" class="input-medium search-query">
                                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                                    <button id="btnsearch" type="button" class="btn">查询航班</button>
                            </div>

                        </form>


                        <form id="fselect_form" style="display: none">
                            <table  class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>多选</th>
                                    <th>航班号</th>
                                    <th>起飞地</th>
                                    <th>目的地</th>
                                    <th>价格</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody id="newtable"></tbody>

                            </table>
                        </form>

                        <!--表单 增加 默认状态 隐藏-->
                        <form id="fcreate_form" class="form" method="post" style="display: none" >
                            <table class="table table-striped table-hover table-condensed">
                                <tr>
                                    <th>字段</th>
                                    <th>值</th>
                                </tr>
                                <tr>
                                    <td>航班</td>
                                    <td><label><input type="text" name="flight_name"></label></td>
                                </tr>
                                <tr>
                                    <td>起飞地</td>
                                    <td><label><input type="text" name="departurePlace"></label></td>
                                </tr>
                                <tr>
                                    <td>目的地</td>
                                    <td><label><input type="text" name="destination"></label></td>
                                </tr>
                                <tr>
                                    <td>起飞时间</td>
                                    <td><label><input type="text" name="fly_time" placeholder="2000-01-01 00:00:00"></label></td>
                                </tr>
                                <tr>
                                    <td>价格</td>
                                    <td><label><input type="text" name="price"></label></td>
                                </tr>
                                <tr>
                                    <td>状态</td>
                                    <td><label><input type="text" name="status"></label></td>
                                </tr>
                            </table>
                            <div>
                                <button type="button" class="create_btn btn btn-default btn-lg" style="width:49.5%">提交</button>
                                <button type="reset" class="btn btn-default btn-lg" style="width:49.5%">重置</button>
                            </div>
                        </form>

                        <!--表单 修改 默认状态 隐藏-->
                        <form id="fupdate_form" style="display: none">
                            <table class="table table-striped table-hover table-condensed">
                                <tr>
                                    <th>字段</th>
                                    <th>值</th>
                                </tr>
                                <tr>
                                    <td>航班</td>
                                    <td><label><input type="text" name="flight_name"></label></td>
                                </tr>
                                <tr>
                                    <td>起飞地</td>
                                    <td><label><input type="text" name="departurePlace"></label></td>
                                </tr>
                                <tr>
                                    <td>目的地</td>
                                    <td><label><input type="text" name="destination"></label></td>
                                </tr>
                                <tr>
                                    <td>起飞时间</td>
                                    <td><label><input type="text" name="fly_time" placeholder="2000-01-01 00:00:00"></label></td>
                                </tr>
                                <tr>
                                    <td>价格</td>
                                    <td><label><input type="text" name="price"></label></td>
                                </tr>
                                <tr>
                                    <td>状态</td>
                                    <td><label><input type="text" name="status"></label></td>
                                </tr>
                            </table>
                            <div>
                                <button type="button" class="create_btn btn btn-default btn-lg" style="width:49.5%">提交</button>
                                <button type="reset" class="btn btn-default btn-lg" style="width:49.5%">重置</button>
                            </div>
                        </form>

                        <!--表单 删除 默认状态 隐藏-->
                        <form id="fdelete_form" style="display: none"></form>
                    </div>
                </div>
            </div>
        </div>


        <!--右侧显示区域-->
        <div class="col-md-6">
            <div class="page-header"><h3>查询订单</h3></div>
        </div>
    </div>
</div>

<!--按钮的js脚本-->
{/block}
{block name="javaScript"}
<script>
//    刷新
    $("#select").click(function(){
        $("#flight_title").html('所有航班');
        $("#fselect_form").show();
        $("#fcreate_form").hide();
        $("#fupdate_form").hide();
        $("#fdelete_form").hide();
        $(".alert-danger").hide();
        $(".alert-info").hide();
        $(".form-inline").show();


    });
//    增加
    $("#create").click(function(){
        $("#flight_title").html('添加航班');
        $("#fcreate_form").show();
        $("#fselect_form").hide();
        $("#fupdate_form").hide();
        $("#fdelete_form").hide();
        $(".alert-danger").hide();
        $(".alert-info").hide();
        $(".form-inline").hide();
    });

//    修改
    $("#update").click(function(){
        $("#flight_title").html('修改航班');
        $("#fupdate_form").show();
        $("#fselect_form").hide();
        $("#fcreate_form").hide();
        $("#fdelete_form").hide();
        $(".alert-danger").hide();
        $(".alert-info").hide();
        $(".form-inline").hide();

    });

//    删除
    $("#delete").click(function(){
        $("#flight_title").html('删除航班');
        $("#fdelete_form").show();
        $("#fselect_form").hide();
        $("#fcreate_form").hide();
        $("#fupdate_form").hide();
        $(".alert-danger").hide();
        $(".alert-info").hide();
        $(".form-inline").hide();

    });



//    ajax增加请求 增加 按钮绑定的事件
    $(".create_btn").click(function(){

        $.ajax({
            type: 'post',
            url: "{:url('index/admin/addFlight')}",
            data: $("#fcreate_form").serialize(),
            success: function(data) {
                if(data.status){
                    $('.alert-info').show().html(data.msg);
                    $('.alert-danger').hide();
                    setTimeout(function(){
                        window.location.href = "{:url('index/admin/index')}";
                    },1000);
                }
                else{
                    $('.alert-danger').show().html(data.msg);
                    $('.alert-info').hide();
                }
            }
        });
    });


   //查询航班 按钮绑定的事件
    $("#btnsearch").click(function () {



//        alert($("#search_form").serialize());

        $.ajax({
            type: 'post',
            url: "{:url('index/admin/searchFlight')}",
            data: $("#search_form").serialize(),
            success: function (data) {
                if (data.length)
                {
                    $('#alert-sdanger').hide();
                    alert("ajax请求成功");
                    alert(data.length);
                    //动态创建表格的方式，使用动态创建dom对象的方式
                    //清空所有的子节点
                    $("#newtable").empty();
                    for( var i = 0; i < data.length; i++ ) {
                        //动态创建一个tr行标签,并且转换成jQuery对象
                        var $trTemp = $("<tr></tr>");
                        //往行里面追加 td单元格
                        $trTemp.append("<td><input type='checkbox'></td>");
                        $trTemp.append("<td>"+ data[i].flight_name +"</td>");
                        $trTemp.append("<td>"+ data[i].departurePlace +"</td>");
                        $trTemp.append("<td>"+ data[i].destination +"</td>");
                        $trTemp.append("<td>"+ data[i].fly_time +"</td>");
                        $trTemp.append("<td>"+ data[i].price +"</td>");
                        $trTemp.append("<td>"+ data[i].status +"</td>");
                        $trTemp.appendTo("#newtable");
                    }
                    $("#fselect_form").show();
                }else{
                    alert("ajax返回数据库查找数据失败");
                    $("#alert-sdanger").html(data.msg).show();
                }
            }
        });

    });

</script>
{/block}
