{extend name="public/base"}
{block name='nav'}
{include file="public/unav"}
{/block}
{block name="content"}
<div class="container">

    <div class="row">
        <div class="page-header">
            <h2>用户中心</h2>
        </div>
        <div class="col-md-4">
            <div>
                <form id="fcreate_form" class="form" method="post" style="" >
                    <h3 style="align-content: center ; ">航班查询</h3>
                    <table style=" border: 1px solid #bce8f1;" class="table table-striped table-hover table-condensed">
                        <hr/>
                        <thead>
                            <tr>
                                <th>字段</th>
                                <th>值</th>
                            </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>起飞地</td>
                            <td><label><input  type="text " value="北京" autofocus name="departurePlace"></label></td>
                        </tr>
                        <tr>
                            <td>目的地</td>
                            <td><label><input type="text" value="上海" name="destination" placeholder="请输入目的的地"></label></td>
                        </tr>
                        <tr>
                            <td>起飞时间</td>
                            <td><label><input type="text" value="{:NOW_TIME}"  name="fly_time" placeholder="yyyy-mm-dd"></label></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>

                        <button id="selectflight" type="button" class="create_btn btn btn-default btn-lg" style="width:30% ; color: #00AA88">搜索</button>
                        <button type="reset" class="btn btn-default btn-lg" style="width:30%">重置</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-8">
            <h3 style="align-content: center ; ">航班查询结果</h3>
            <!--警告框 错误-->
            <div id="alert-sdanger" class="alert alert-danger" role="alert" style="display: none"></div>
            <form  id="fselect_form" style="display: none">
                <!--线面是表格-->
                <table  class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>编号</th>
                        <th>航班号</th>
                        <th>起飞地</th>
                        <th>目的地</th>
                        <th>起飞时间</th>
                        <th>单价</th>
                    </tr>
                    </thead>
                    <tbody id="newtable"></tbody>
                </table>
                <!--按钮-->
                <div class="form-inline">
                    <button id="bookingbut" style="color: #00AA88" type="button" class="create btn-default btn">预订</button>
                </div>
            </form>
        </div>

    </div>
</div>
{/block}


{block name="javaScript"}
<script type="text/javascript">


    //用户查询航班按钮绑定的事件
    $("#selectflight").click(function () {
        alert($("#fcreate_form").serialize());
        $.ajax({
            type: "post",
            url: "{:url('index/user/usersearchFlight')}",
            data: $("#fcreate_form").serialize(),
            success: function (data) {
                if (data.length)
                {
                    $('#alert-sdanger').hide();
                    alert("ajax请求成功");
                    alert(data.length);
                    //动态创建表格的方式，使用动态创建dom对象的方式
                    //清空所有的子节点
                    $("#newtable").empty();
                    for( var i = 0; i < data.length; i++ ) {
                        //动态创建一个tr行标签,并且转换成jQuery对象
                        var $trTemp = $("<tr></tr>");
                        //往行里面追加 td单元格
                        $trTemp.append("<td><input class='checkbox_one' name='id' type='checkbox' value="+data[i].id+"></td>");
//                        $trTemp.append("<td><input value="+ data[i].id +"name='checkbox_one1'  class='checkbox_one' type='checkbox'></td>");
                        $trTemp.append("<td id='tdid'>"+ data[i].id +"</td>");
                        $trTemp.append("<td>"+ data[i].flight_name +"</td>");
                        $trTemp.append("<td>"+ data[i].departurePlace +"</td>");
                        $trTemp.append("<td>"+ data[i].destination +"</td>");
                        $trTemp.append("<td>"+ data[i].fly_timeall +"</td>");
                        $trTemp.append("<td>"+ data[i].price +"</td>");
                        $trTemp.appendTo("#newtable");
                    }
                    ;$("#fselect_form").show()
                }else{
                    alert("ajax返回数据库查找数据失败");
                    $("#alert-sdanger").html(data.msg).show();
                    $("#fselect_form").hide();
                    }
            }
        });
    });

    //单选点击事件  单选框的事件
    $("#newtable").on("click",'.checkbox_one',function(event){
        if ($(event.target).is(":checked")){
            $(this).attr("checked",true);
            alert($(event.target).val());

        }else {
            $(this).attr("checked",false);
        }
    });


    //点击预定   绑定的事件
    $("#bookingbut").click(function () {
        var list=[];
        $("input[name='id']:checked").each(function () {
            // list.push(this.value);
            list.push(this.value);

        });
        window.location.href = "{:url('index/user/select')}";
    });

//    var checkedList = new Array();
//    $("input[name='id']:checked").each(function() {
//        checkedList.push($(this).val());
//    });
</script>
{/block}